body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:cornsilk;
}


section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}
.container{
    background-color:darkcyan;
    margin-top:20px;
}
.container h1{
    color:brown;
    padding-top:20px;
}
.form-group label{
    color:cornsilk;
}
p a{
    color:cornsilk;
}
p{
    color:black;
}
.btn{
    padding:8px;
    font-size:20px;
    margin-bottom:10px;
}
.btn:hover{
    color:blue;
    background-color: #fff;
}

@import url(fontawesome.css);

body {
    font-family: 'Montserrat', sans-serif;
    
}
*{
    margin:0px;
    padding:0px;
}

/* Basic */

a {
	color: #3CF;
    text-decoration: none;
}

a:hover {
	color:gold;
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
@media screen and (max-width: 950px) {
  a.menu-link {
    float: right;
    display: block;
    font-size: 36px;
    color: #fff;
    padding-right: 30px;
    padding-top: 15px;
  }
}
  .main-menu li {
      margin-left: 5px!important;
  } 


.main-header {
    background-color: rgba(22,34,57,0.95);
    height: 82px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
    float: left;
    line-height: 80px;
    padding-left: 40px;
}

.main-header .logo a {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}


.main-menu {
    float: right;
    padding-right: 60px;
}

.main-menu li {
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0px;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.main-menu li.has-submenu a:after {
    content: '\f107';
    font-family: "FontAwesome";
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 160px;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    margin-left: 0px;
     margin-bottom: 10px;
    padding-bottom: 10px; 
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 10px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color:deeppink;
    border: none;
}

 .main-nav li:hover a
 {
     border: 2px solid deeppink; 
    /* background-color:white;
    color:#f5a425; */
} 

@media (max-width: 950px) {
  .main-nav li:hover a,
  .main-nav li.active a {
    border: 2px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}
#home{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("backimg.webp");
  background-size: 100% auto; 
  background-position: center; 
  position:fixed;
  text-align: center; 
  padding: 100px 0; 
  height:100%;
  width:100%;
  object-fit: cover;
  margin-top:80px;

  /* display:flex;
  justify-content: center;
  flex-direction:column;
  text-align:center; */
  }
  #home h2{
    color:#fff;
    font-size:2.2em;
    padding-top:230px;
  }
  #home .btn{
    margin-top:30px;
  }
  #home a{
    text-decoration:none;
    font-size:0.9rem;
    padding:15px 35px;
    border-radius:5px;
    background-color:white;
    font-weight:600;

  }
#home a.blue{
  background-color:#f5a425;
  color:#fff
}
#home a.blue:hover{
  color:#f5a425;
  background-color:#fff;
  transition: 0.3s ease;
}






